<footer class="footer">

<div class="container">
    <div class="footer-container">
        <div class="footer-cont">
    
            <div class="footer-first">
    
                <a href="#header" class="scroll-link">
                    <svg class="footer-logo" width="127" height="20">
                        <use href="./images/icons.svg#icon-logo"></use>
                    </svg>
                </a>
    
    <!-- <img src="./images/logo.png" alt="logo" class="footer-logo"> -->
    
    <div id="footer-contact" class="footer-adres">
    <a href="tel:+380665438912" class="footer-tel">UA: +38 066 543 8912</a>
    <a href="https://maps.app.goo.gl/v3mat5sZtYsQpDfZ6" class="footer-ukr" target="_blank">Ukraine, Kyiv</a>
    <!-- <p class="footer-ukr">Ukraine, Kyiv</p> -->
    </div>
    </div>
    
    <div class="footer-list">
    
    
            <ul class="footer-soc">
    <li>
        <a href="https://www.instagram.com/goitclub/" class="footer-soc-list" target="_blank">Instagram</a>
    </li>
    <li>
        <a href="https://www.facebook.com/goITclub/" class="footer-soc-list" target="_blank">Facebook</a>
    </li>
    <li>
        <a href="https://www.youtube.com/c/GoIT" class="footer-soc-list" target="_blank">YouTube</a>
    </li>
            </ul>
    
    <ul class="footer-menu footer-soc">
        <li class="">
            <a href="#about" class="footer-soc-list scroll-link">About us</a>
        </li>
        <li class="">
            <a href="#our-courses" class="footer-soc-list scroll-link">Our courses</a>
        </li>
        <li class="">
            <a href="#our-mentors" class="footer-soc-list scroll-link">Our mentors</a>
        </li>
        <li class="">
            <a href="#reviews" class="footer-soc-list scroll-link">Reviews</a>
        </li>
        <li class="">
            <a href="#footer-contact" class="footer-soc-list scroll-link">Contacts</a>
        </li>
    
    </ul>
    </div>
    <!--form -->
    <div class="footer-wrapper">
        <form class="footer-form" name="footer-email">
             <label class="footer-email"> 
                <input type="email" class="footer-email-inp" name="email" placeholder="Enter your email"  pattern="\S+@[a-z]+.[a-z]+" title="Please enter a valid email address, format example@site.com" />
             </label> 
            <button type="submit" class="footer-btn-go">Go
            </button>
        </form>
    
    
    </div>
    
    </div>
    <!--  end form -->
    
    <div class="footer-bottom">
        <div class="footer-bottom-first">
        <a href="" class="footer-bottom-pp">Privacy Policy</a>
    <p class="footer-bottom-text">Public Offering Agreement</p>
    </div>
    <p class="footer-bottom-text">2023 Focus Frame <br /><span>&#169;</span> All rights reserved</p>
    
    </div>
    
    </div>
</div>


  

</footer>