<header class="header" id="header">
  <div class="container">
    <div class="container header-con">
      <div class="container-header">
        <svg class="header-logo" width="127" height="20" fill="white">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        <div class="header-nav-div">
          <nav class="header-nav">
            <ul class="header-list-text">
              <li class="header-item-text"><a href="#about" class="scroll-link">About us</a></li>
              <li class="header-item-text">
                <a href="#our-courses" class="scroll-link">Our courses</a>
              </li>
              <li class="header-item-text">
                <a href="#our-mentors" class="scroll-link">Our mentors</a>
              </li>
              <li class="header-item-text"><a href="#reviews" class="scroll-link">Reviews</a></li>
              <li class="header-item-text">
                <a href="#footer-contact" class="scroll-link">contacts</a>
              </li>
            </ul>
          </nav>
        </div>
        <a href="#sign-up" class="header-icon-link scroll-link">
          <svg class="header-icon-link-cmr" width="16" height="16">
            <use href="./images/icons.svg#icon-bi-camera"></use>
          </svg>
        </a>
        <a href="#mobile-menu" class="header-icon-nav js-open-menu">
          <svg class="header-icon-navigation" width="32" height="22">
            <use href="./images/icons.svg#icon-Nav"></use>
          </svg>
        </a>
      </div>
      <a href="#sign-up" class="scroll-link"><button type="button" class="header-button">Sign&nbsp;up</button></a>
    </div>
  </div>
</header>
