<!-- Mobile menu -->
<div class="backdrop js-menu-container">
  <div class="mobile-menu">
    <button
      type="button"
      class="mobile-btn mobile js-close-menu"
      aria-label="Mobile menu close button"
    >
      <svg class="mobile-icon-close scroll-link" width="32" height="32">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a href="#about" class="mobile-menu-link active scroll-link"
          >About us</a
        >
      </li>
      <li class="mobile-menu-item">
        <a href="#our-courses" class="mobile-menu-link scroll-link"
          >Our courses</a
        >
      </li>
      <li class="mobile-menu-item">
        <a href="#our-mentors" class="mobile-menu-link scroll-link"
          >Our mentors</a
        >
      </li>
      <li class="mobile-menu-item">
        <a href="#reviews" class="mobile-menu-link scroll-link">Reviews</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#footer-contact" class="mobile-menu-link scroll-link"
          >Contacts</a
        >
      </li>
    </ul>
    <img src="../images/mobile-menu/Rectangle-6-mob@1x_result.jpg" alt="" />
    <picture>
      <!-- Tablet -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/mobeli-menu/Rectangle-6-tab@1x_result.jpg 1x,
          ./images/mobeli-menu/Rectangle-6-tab@2x_result.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="
          ./images/mobeli-menu/rectangle-6-tab@1x_result.webp 1x,
          ./images/mobeli-menu/rectangle-6-tab@2x_result.webp 2x
        "
      />
      <!-- Mobile -->
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/mobeli-menu/Rectangle-6-mob@1x_result.jpg 1x,
          ./images/mobeli-menu/Rectangle-6-mob@2x_result.jpg 2x
        "
      />
      <source
        media="(max-width:767px)"
        type="image/webp"
        srcset="
          ./images/mobeli-menu/rectangle-6-mob@1x_result.webp 1x,
          ./images/mobeli-menu/rectangle-6-mob@2x_result.webp 2x
        "
      />

      <img
        class="mobile-menu-image"
        src="./images/mobeli-menu/Rectangle-6-tab@1x_result.jpg"
        alt="Image of photocamera"
        loading="lazy"
      />
    </picture>
  </div>
</div>
