<section class="our-mentors-section container">
  <div class="our-mentors-div">
    <h2 class="our-mentors-h2">
      Our <span class="our-mentors-span"> Mentors</span>
    </h2>
    <ul class="our-mentors-ul">
      <!--tom emilia-->
      <li class="our-mentors-list">
        <img
          srcset="../images/our-mentors/girl-1@2x_result.png 2x"
          src="../images/our-mentors/girl-1@1x_result.png"
          alt="beautiful brunette girl"
          width="180"
        />
        <div class="our-mentors-div-name">
          <h3 class="our-mentors-h3">Emilia Smith</h3>
          <p class="our-mentors-paragraph">1.5 years of experience</p>
        </div>
      </li>
      <!--tom alex-->
      <li class="our-mentors-list">
        <img
          srcset="../images/our-mentors/boy-1@2x_result.png 2x"
          src="../images/our-mentors/boy-1@1x_result.png"
          alt="red-haired guy laughs"
          width="180"
        />
        <div class="our-mentors-div-name">
          <h3 class="our-mentors-h3">Alex Lebedev</h3>
          <p class="our-mentors-paragraph">3.5 years of experience</p>
        </div>
      </li>
      <!--tom mia-->
      <li class="our-mentors-list">
        <img
          srcset="../images/our-mentors/girl-2@2x_result.png 2x"
          src="../images/our-mentors/girl-2@1x_result.png"
          alt="beautiful brunette girl"
          width="180"
        />
        <div class="our-mentors-div-name">
          <h3 class="our-mentors-h3">Mia Dubrovska</h3>
          <p class="our-mentors-paragraph">2.0 years of experience</p>
        </div>
      </li>
      <!--tom eliot-->
      <li class="our-mentors-list">
        <img
          srcset="../images/our-mentors/boy-2@2x_result.png 2x"
          src="../images/our-mentors/boy-2@1x_result.png"
          alt="guy with black hair wearing glasses"
          width="180"
        />
        <div class="our-mentors-div-name">
          <h3 class="our-mentors-h3">Eliot Kovalev</h3>
          <p class="our-mentors-paragraph">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
