<section class="reviews">
  <div class="">
    <h2 class="reviews-title">Reviews</h2>
    <div>
      <img
        srcset="
          ./images/reviews/user-1@1x_result.png 1x,
          ./images/reviews/user-1@2x_result.png 2x
        "
        src="./images/reviews/user-1@1x_result.png"
        alt="student"
        width="56"
        height="56"
      />
      <div>
        <h3 class="student-title">Abraham Baker</h3>
        <p class="student-">Student</p>
      </div>
      <p class="">
        I am very pleased that I decided to enroll in photography school. The
        teachers turned out to be very talented and experienced professionals
        who share their knowledge and are dedicated to their work. I was able to
        expand my skills and discover my own style.
      </p>
    </div>
    <div>
      <img
        srcset="
          ./images/reviews/user-2@1x_result.png 1x,
          ./images/reviews/user-2@2x_result.png 2x
        "
        src="./images/reviews/user-2@1x_result.png"
        alt="student"
        width="56"
        height="56"
      />
      <h3 class="student-title">Amanda Lowery</h3>
      <p class="student-">Student</p>
      <p class="">
        The courses at the photography school exceeded all my expectations. I
        gained not only technical knowledge, but also inspiration and motivation
        to reach new heights in my creativity. Hands-on classes and workshops
        helped me understand different styles of photography.
      </p>
      <div>
        <ul>
          <li>
            <a class="" href=""> </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
