<section class="sign-up" id="sign-up">
  <div class="container">
    <div class="sign-up-section">
      <!-- <div class="sign-countainer"> -->
      <div class="sign-up-countainer">
        <div class="sing-up-div">
          <h2 class="sign-up-h">Sign <span class="span-up">Up</span></h2>
        </div>
        <div class="div-p-sing-up">
          <p class="sign-up-p">
            Please use the form below to contact us. Enter your name, email, and
            message and we'll get back to you shortly.
          </p>
        </div>
        <!--Form name/mail/text area-->
        <form class="sign-up-form" name="sign-up-form-name">
          <div class="form-field">
            <label class="form-label" for="user-name"></label>
            <div class="label-input_icons-div">
              <input
                class="form-input"
                type="text"
                id="user-name"
                name="user-name"
                placeholder="Enter your name"
                pattern="[A-Za-z]+"
                title="Please enter a valid name (letters only). Example : Ivan Kornin"
                required
              />
            </div>
          </div>
          <div class="form-field">
            <label class="form-label" for="user-mail"></label>
            <div class="label-input_icons-div">
              <input
                class="form-input"
                type="email"
                id="user-mail"
                name="user-mail"
                placeholder="Enter your email"
                pattern="[^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                title="Please enter a valid email address."
                required
              />
            </div>
          </div>
          <div class="form-area">
            <label for="user-message" class="form-label"></label>
            <textarea
              class="form-text-area"
              id="user-message"
              name="user-message"
              placeholder="Message"
            ></textarea>
          </div>
          <!--Button-->
          <button class="btn-send" type="submit" aria-label="Send-form">
            Send
          </button>
        </form>
        <!--Privacy Policy-->
        <div class="privacy-div">
          <p class="privacy-policy">
            By clicking on “Send” button, you agree to our
            <span class="privacy-policy-span"
              ><a href="">Privacy Policy</a></span
            >, and allow Promodo to use this information for marketing purposes.
          </p>
        </div>
      </div>
      <!--Photo block-->
      <div class="div-photo">
        <ul class="sing-up-photo-ul">
          <li class="sing-up-photo-li isabella">
            <picture>
              <source
                type="image/jpeg"
                srcset="
                  ./images/sign-up/isabella-mendes@1x_result.png 1x,
                  ./images/sign-up/isabella-mendes@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./images/sign-up/isabella-mendes@1x_result_result.webp 1x,
                  ./images/sign-up/isabella-mendes@2x_result_result.webp 2x
                "
              />
              <img
                src="./images/sign-up/isabella-mendes@1x_result.png"
                alt="isabella-mendes"
                width="150"
                height="142"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="sing-up-photo-li video-entry">
            <picture>
              <source
                type="image/jpeg"
                srcset="
                  ./images/sign-up/video-entry-product@1x_result.png 1x,
                  ./images/sign-up/video-entry-product@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./images/sign-up/video-entry-product@1x_result_result.webp 1x,
                  ./images/sign-up/video-entry-product@2x_result_result.webp 2x
                "
              />
              <img
                src="./images/sign-up/video-entry-product@1x_result.png"
                alt="video-entry-product"
                width="240"
                height="296"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
