.footer-container {
/* padding-left: 20px;
    padding-right: 20px;
        padding-top: 40px; */
            padding-bottom: 20px;
         background-image: url(/images/footer/Graphic-mob@1x.png); 
}

 @media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .footer-container {
        background-image: url(/images/footer/Graphic-mob@2x.png);
    
    }
} 

@media only screen and (min-width: 768px) {
    .footer-container {
    background-image: url(/images/footer/Graphic-tab@1x.png);
height: 331px;
/* max-width: 768px;
width: 768px;
padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 32px;
    padding-right: 32px; */

}
}

 @media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
     .footer-container {
         background-image: url(/images/footer/Graphic-tab@2x.png);
    height: 331px;
        /* max-width: 768px;
        width: 768px;
        padding-top: 50px;
       padding-bottom: 50px;
        padding-left: 32px;
        padding-right: 32px; */
        }
 }

 @media only screen and (min-width: 1280px) {
     .footer-container {
         background-image: url(/images/footer/Graphic-desc1280@1x.png);
    /* max-width: 1280px;
    width: 1280px;
    padding-top: 75px;
        padding-bottom: 75px;
        padding-left: 100px;
            padding-right: 100px; */


        }
 }

 @media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
     .footer-container {
         background-image: url(/images/footer/Graphic-desc1280@2x.png);
    /* max-width: 1280px;
        width: 1280px;
        padding-top: 75px;
        padding-bottom: 75px;
        padding-left: 100px;
        padding-right: 100px; */
        }
 }

.footer-cont{
    margin-bottom: 75px;
}

 @media only screen and (min-width: 768px) {
.footer-cont {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: start;
}
}

@media only screen and (min-width: 1280px) {
.footer-cont {
        margin-bottom: 50px;
    }
}

 .footer-first {
    display: flex;
    gap: 16px;
    flex-direction: column;
 }

@media only screen and (min-width: 1280px) {
    .footer-first {
    gap: 16px;
    }
}

.footer-logo {
    width: 127px;
        height: 20px;
         fill: #FFFFFF;
    
}  

@media only screen and (min-width: 768px) {
.footer-logo {
     margin-bottom: 0; 
}
}

.footer-adres {
    margin-bottom: 40px;
}

.footer-tel{
font-size: 14px;
    line-height: 1.28;
    text-transform: uppercase;
/* 
    font-style: normal;
    font-weight: 400; */
    margin-bottom: 10px;

}

.footer-ukr {
    /* color: #FFF; */
        font-size: 14px;
        line-height: 1.28;
        /* background-color: transparent; */
}

.footer-list {
    display: inline-flex;
        align-items: flex-start;
        gap: 40px;
        margin-bottom: 75px;
     
}

 @media only screen and (min-width: 768px) {
    .footer-list {
        margin-left: 57px;
        margin-right: 61px;
        gap: 25px;
        margin-bottom: 0;
    }
 }

 @media only screen and (min-width: 1280px) {
     .footer-list {
         margin-left: 284px;
         margin-right: 135px;
         gap: 50px;
       
     }
 }

.footer-soc {
    display: flex;
        flex-direction: column;
        gap: 14px;
            /* align-items: flex-start; */


}

.footer-soc-list {
    /* color: #FFF; */
        font-size: 14px;
        /* line-height: normal; */
        text-transform: uppercase;
        /* background-color: transparent; */
}
/* footer-form */
.footer-wrapper {

    width: 100%;
margin-bottom: 40px;
}

 @media screen and (min-width: 768px) {
    .footer-wrapper {
        width: 256px;
       margin-bottom: 0;
       
    }

}

@media screen and (min-width: 1280px) {
    .footer-wrapper {
        width: 292px;
    }
} 



.footer-form {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    justify-content: center;
}

 @media screen and (min-width: 1280px) {
    .foot-form {
        gap: 16px;
    }

} 

/* .footer-email {
    max-width: 267px;
} */

/* @media screen and (min-width: 768px) {
    .subs-email {
        max-width: 264px;
    }
} */

.footer-email-inp {
max-width: 267px;
    height: 60px;
border-radius: 12px;
    background-color: #FFF;;
  padding: 20px 18px;
color: #121212;
    /* font-size: 16px; */
    line-height: 1.25;
}

 @media screen and (min-width: 768px) {
    .footer-email-inp{
        max-width: 178px;
    }
} 

@media screen and (min-width: 1280px) {
    .footer-email-inp {
        max-width: 216px;
    }
}

.footer-email-inp::placeholder {
    color: #121212;
}

.footer-btn-go {

    width: 60px;
        height: 60px;
        border-radius: 12px;
            background-color: #1D1D1D;
            color: #fff;
    
                /* text-align: center; */
                font-size: 20px;
                line-height: 1.20;
                flex-shrink: 0;

      cursor: pointer;
    border: none;
   
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-bottom-text {
    /* color: #FFF; */
        font-size: 12px;
        line-height: 1.33;
       
}