.header {
  display: flex;
}
.container {
}
.container-header {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 60px;
  width: 822px;
  flex-shrink: 0;
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1280px) {
  .header-logo {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 90px;
    stroke: #ffffff;
  }
}

.header-icon-link-cmr {
  fill: #bea69e66;
}

@media (min-width: 375px) {
  .header-icon-link {
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 50%;
    background-color: #1d1d1d;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }
}

@media (max-widht: 768px) {
  .header-icon-nav {
    width: 32px;
    height: 22px;
    flex-shrink: 0;
  }
}

.header-icon-navigation {
  stroke: #ffffff;
}

@media (min-widht: 768px) {
  .header-button {
    border-radius: 12px;
    background: #fff;
    display: block;
    padding: 16px 58px;
    cursor: pointer;
    color: #121212;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 20px;
  }
}

.header-list-text {
  display: none;
}
.header-item-text {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 1280px) {
  .header-nav {
    display: none;
  }
}
