.hide {
  display: none;
}

.hero {
  background-image: url(/images/header/Graphic-mob@1x.png);
  padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: url(/images/header/Graphic-tab@1x.png);
  }
}

@media only screen and (min-width: 1280px) {
  .hero {
    background-image: url(/images/header/Graphic-des1280@1x.png);
  }
}

/* Mobile */
.hero-container {
  display: flex;
  flex-direction: column;

  border-radius: 30px;
  background: #1d1d1d;

  max-width: 335px;
}

@media only screen and (min-width: 768px) {
  .hero-container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-container {
    max-width: 1280px;
    flex-direction: row;
  }
}

/* Mobile */
.hero-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;

  max-width: 335px;

  padding: 20px;
  padding-top: 40px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    padding-top: 64px;
    padding-left: 32px;
    max-width: 581px;

    font-size: 60px;
    line-height: 1.07;
    letter-spacing: -0.04em;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title {
    padding-top: 80px;
    padding-left: 50px;
    max-width: 647px;

    font-size: 64px;

    line-height: 1.06;
  }
}
/* Mobile */
.hero-accent {
  color: #bea69e;
  font-size: 40px;
  font-style: italic;
  line-height: 1.1;
  letter-spacing: -0.04em;
}

@media only screen and (min-width: 768px) {
  .hero-accent {
    font-size: 60px;
    line-height: 1.07;
    letter-spacing: -0.04em;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-accent {
    font-size: 64px;
    line-height: 1.06;
  }
}

/* Mobile */
.hero-text {
  color: #fff;

  font-size: 14px;

  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;

  max-width: 335px;
  margin-bottom: 40px;
  padding: 0 20px;
}
@media only screen and (min-width: 768px) {
  .hero-text {
    max-width: 468px;
    padding-left: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-text {
    max-width: 486px;
    padding-left: 50px;
    margin-bottom: 136px;
  }
}

.hero-student {
  /* width: 109px; */
}

@media only screen and (min-width: 768px) {
  .hero-student {
    display: flex;
    gap: 12px;
  }
}

.hero-student-list {
  display: flex;

  margin-bottom: 4px;

  position: relative;
}

@media only screen and (min-width: 768px) {
  .hero-student-list-item {
    width: 54px;
    height: 54px;
  }
}
.hero-student-g1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.hero-student-b {
  position: absolute;
  top: 0;
  left: 32px;
  z-index: 9;
}
.hero-student-g2 {
  transform: translateX(-43px);
}

.student-box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 89px;
  gap: 4px;
}
.hero-student-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.hero-arrow {
  fill: #fff;
}
.hero-student-review-box {
  display: flex;
  align-items: flex-start;

  gap: 40px;
  margin-bottom: 31px;
  padding-left: 20px;
  max-width: 293px;
}

@media only screen and (min-width: 768px) {
  .hero-student-review-box {
    margin-bottom: 40px;
    max-width: 418px;
    padding-left: 32px;
  }
}

.hero-reviews {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 104px;
  gap: 12px;
}
.hero-reviews-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rev-text {
  color: rgba(255, 255, 255, 0.5);

  font-size: 14px;

  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.04em;
}

.rev-count {
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -0.04em;
}

.hero-star-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  flex-shrink: 0;

  border-radius: 100px;
  background: #bea69e;
}

.hero-star-icon {
  fill: transparent;
  stroke: #121212;
  stroke-width: 1.5px;
}
.hero-image {
  padding: 0 38px;
}
@media only screen and (min-width: 768x) {
  .hero-image {
    padding: 0 156px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-image {
    padding: 0;
    padding-top: 80px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-image-card {
    width: 393px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-image-card {
    width: 397px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-content {
    margin-right: 20px;
  }
}
