.reviews-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}

@media only screen and (min-width: 768px) {
  .reviews-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.04em;
  }
}

.reviews-container {
  margin-top: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1279.9px) {
  .reviews-container {
    margin-top: 50px;
    margin-left: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-container {
    display: flex;
    gap: 20px;
  }
}

.student1-container {
  width: 335px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  .student1-container {
    width: 640px;
  }
}

@media only screen and (min-width: 1280px) {
  .student1-container {
    width: 530px;
    height: 216px;
  }
}

@media screen and (min-width: 1440px) {
  .student1-container {
    width: 610px;
    height: 196px;
  }
}

.abraham-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.student-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

@media only screen and (min-width: 768px) {
  .student-name {
    line-height: 1.4;
  }
}

.student-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;

  line-height: 1.33;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .student-text {
    font-size: 14px;
    line-height: 1.28;
  }
}

.text-information {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-top: 46px;
}

@media only screen and (min-width: 768px) {
  .text-information {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .text-information {
    margin-top: 23px;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1440px) {
  .text-information {
    margin: 20px 0 0 0;
  }
}

.star-container1 {
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  top: 80px;
  left: 86px;
}

@media only screen and (min-width: 768px) {
  .star-container1 {
    top: 20px;
    left: 504px;
  }
}

@media only screen and (min-width: 1280px) {
  .star-container1 {
    left: 394px;
  }
}
@media only screen and (min-width: 1440px) {
  .star-container1 {
    left: 474px;
  }
}

.star-item {
  display: flex;
  gap: 4px;
}

.icon-list {
}

.svg-star {
  stroke: #bea69e;
  fill: #bea69e;
}
@media only screen and (min-width: 768px) {
  .svg-star {
    width: 20px;
    height: 20px;
  }
}

.svg-star-grey {
  stroke: #414141;
  fill: #414141;
}
@media only screen and (min-width: 768px) {
  .svg-star-grey {
    width: 20px;
    height: 20px;
  }
}

.student2-container {
  width: 530px;
  height: 216px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  position: relative;
}

@media screen and (max-width: 1279.9px) {
  .student2-container {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .student2-container {
    width: 610px;
    height: 196px;
  }
}

.amanda-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-info2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.student2-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

.student2-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.text2-information {
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-top: 20px;
}

.star-container2 {
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  top: 20px;
  right: 20px;
}

.star-item2 {
  display: flex;
  gap: 4px;
}

.icon-list2 {
}

.svg-star2 {
  stroke: #bea69e;
  fill: #bea69e;
}

.svg-star2-grey {
  stroke: #414141;
  fill: #414141;
}
