.reviews {
}

.hide {
  display: none;
}

.reviews-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;

  width: 100px;
  height: 32px;
}

/*destop reviews-title
font-size: 48px;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -0.04em;
  width: 171px;
  height: 54px;*/

.reviews-container {
  display: flex;
}

.student1-container {
  width: 335px;
  height: 244px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 40px;
  position: relative;
}

/*destop student1-container
width: 530px;
height: 216px;
flex-shrink: 0;
border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.20);
margin-top: 104px;
position: relative;*/

.abraham-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-left: 20px;
}

.container-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.student-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
/*destop student-name
font-size: 20px;
  font-weight: 500;
  line-height: 1.4;*/

.student-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.02em;
}

/*destop student-text
color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;*/

.text-information {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  padding-top: 46px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
/*destop text-information
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.02em;
  ;*/

.star-container1 {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 80px;
  left: 86px;
}
/*top: 20px;
  right: 20px;*/

.star-item {
  display: flex;
}

.icon-list {
}

.svg-star {
  stroke: #bea69e;
  fill: #bea69e;
}

.svg-star-grey {
  stroke: #414141;
  fill: #414141;
}

.student2-container {
  width: 530px;
  height: 216px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 104px;
  margin-left: 20px;
  position: relative;
}

.amanda-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-left: 20px;
}

.container-info2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.student2-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

.student2-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
}

.text2-information {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.02em;
  width: 490px;
  height: 100px;
  padding: 0 20px;
}

.star-container2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.star-item2 {
  display: flex;
}

.icon-list2 {
}

.svg-star2 {
  stroke: #bea69e;
  fill: #bea69e;
}

.svg-star2-grey {
  stroke: #414141;
  fill: #414141;
}
